[Desktop Entry]
Name=QBZ
Comment=Native Qobuz client with hi-res audio support
Exec=qbz %u
Icon=${SNAP}/meta/gui/qbz.png
Type=Application
Categories=AudioVideo;Audio;Music;Player;
Terminal=false
StartupWMClass=QBZ
MimeType=x-scheme-handler/qbz;
